<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <title>D3 Demo: Making a scatterplot with SVG</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
    <!--<script src="https://d3js.org/d3.v2.js"></script>-->
    <script src="{{url_for('static', filename='d3.v2.min.js')}}"></script>
    <script type="text/javascript" src="/static/lumiblock.js"></script>

    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}" />
      
  </head>

  <body>

    <div id="Menu_Container">
      <div id="Menu" >

	<h1> Atlas Run Query</h1>
	Run Number: <input type="text" id="run_number"/> <button id="GetRunNumber">Get Run Data</button><br>
	Get Last Run: <button id="GetLastRun">Get Last Run</button>

	<div id="loading" style="display:none;">
	  Fetching Data, Please Wait....
	  <img src="/static/ajax-loader.gif" alt="Loading" />
	</div>

	<div id="error" style="display:none;">
	  Error: Failed to retrieve run information
	</div>

      </div>
    </div>


    <div id="Results">

      <div id="RunInfo">
	<table border="1" style="margin-top: 10px;">
	  <tr>
	    <td>Start Time:</td> <td><div id="start_time"></div></td>
	  </tr>
	  <tr>
	    <td>End Time:</td> <td><div id="end_time"></div></td>
	  </tr>
	  <tr>
	    <td>Number of Lumi Blocks:</td> <td><div id="num_lb"></div></td>
	  </tr>
	  <tr>
	    <td>Number of Events:</td> <td><div id="num_events"></div></td>
	  </tr>
	</table>
      </div>

      <div id="Plots">
	<h2>Luminosity per Lumi Block:</h2><br>
	<div id="LumiChart"></div><br>

	<h2>Duration of Lumi Block:</h2><br>
	<div id="DurationChart"></div>

	<h2>Beam Energy:</h2><br>
	<div id="RunEnergyChart"></div>

	<h2>Bunches:</h2><br>
	<div id="BunchesChart"></div>
      </div>

    </div>


  </body>

</html>
