<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <title>D3 Demo: Making a scatterplot with SVG</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
    <script src="http://d3js.org/d3.v2.js"></script>

    <style type="text/css">
      
      #DurationChart .chart rect {
      fill: steelblue;
      stroke: white;
      }
      #LumiChart .chart rect {
      fill: red;
      stroke: white;
      }

      text {
      font-size: 8px;
      color: #FFFFFF;
      }

    </style>

  </head>

  <body>
    
    <div id="LumiChart"></div><br>
    <div id="DurationChart"></div>

    <script type="text/javascript" src="static/lumiblock.js"></script>
  </body>

</html>
