<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <title>D3 Demo: Making a scatterplot with SVG</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
    <script src="http://d3js.org/d3.v2.js"></script>
    <script type="text/javascript" src="/static/lumiblock.js"></script>

    <style type="text/css">
      
      #DurationChart .chart rect {
      fill: steelblue;
      stroke: white;
      }
      #LumiChart .chart rect {
      fill: red;
      stroke: white;
      }

      text {
      font-size: 8px;
      color: #FFFFFF;
      }

      #Results {
      margin-left: 20px;
      }

    </style>

  </head>

  <body>

    <div id="Menu">
      <h1> Atlas Run Query</h1>
      Run Number: <input type="text" id="run_number" />
      <button id="GetData">
	Get Data
      </button>
    </div>

    <div id="loading" style="display:none;">
      Fetching Data, Please Wait....
      <img src="/static/ajax-loader.gif" alt="Loading" />
    </div>

    <div id="error" style="display:none;">
      Error: Failed to retrieve run information
    </div>

    <div id="Results">
      <h2>Luminosity per Lumi Block:</h2><br>
      <div id="LumiChart"></div><br>
      <h2>Duration of Lumi Block:</h2><br>
      <div id="DurationChart"></div>
    </div>


  </body>

</html>
